/* Import Google fonts */
@import url('https://fonts.googleapis.com/css?family=Monoton|Source+Sans+Pro');

body {
  background: black;
  height: 100%;
  margin: 0;
}

/* App.js file  */
.h1 {
  color: white;
  font-family: 'Monoton', cursive;
  text-align: center;
}

/* Input component  */
.p {
  color: orange;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  text-align: center;
}

/* Input component  */
.input {
  text-align: center;
}

/* Input component  */
.button {
  margin-left: 2px;
}

/* PicturDetail component  */
.picturedetail {
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  text-align: center;
}

/* CarouselSlider component  */
.pictures {
  width: 50%;
  height: 30%;
  display: block;
  margin: 0 auto;
}

/* CarouselSlider component  */
.invalidId {
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}